{% extends 'base.html.twig' %}

{% block title %}I need help{% endblock %}

{% block header %}
    {% include 'headerI.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'Default/subHeader.html.twig' %}

    <div class="content-list">
            <div class="row content-list-head">
            {# Button : To create a new question #}
                <div class="col-auto">
                    <h3>Question</h3>
                    <a href='{{ path('question') }}' class="btn btn-round" data-toggle="modal" data-target="#add-question-modal">
                        <i class="material-icons" id="askQuestionsB">add</i>
                    </a>
                </div>
            {# End Button: to create a new question #}
                    {# Search: Search for a question #}
                    <form class="col-md-auto" action="" method="post">
                        <div class="form-group">
                            <input id="searchTerm" class="form-control" type="text" placeholder="Filter Questions" name="search"/>
                        </div>
                        {# <button id="searchButton" class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                            Search
                        </button> #}
                    </form>
                    {# End Search: Search for a question #}
                </div>
        </div>
        {# DataModal: to create a question #}
        <form class="modal fade" id="add-question-modal" tabindex="-1" role="dialog" aria-labelledby="add-question-modal" method="POST" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#ffc107">
                        <h5 class="modal-title">Ask a question</h5>
                        <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Question a particular department about a particular topic</p>
                        
                        {# Form to create a question #}
                        <div class="element-success mt-5">
                            
                            {{ form(questionForm) }}
                            
                        </div>
                    </div> 
                </div>
            </div>
        </form>

{# Sub-navbar : To answer & Asked #}

{# nav tabs #}

<br>
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" id="AAA-tab" href="#AAA" role="tab" aria-controls="AAA" aria-selected="true">Answer questions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="BBB-tab" href="#BBB" role="tab" aria-controls="BBB" aria-selected="false">Asked questions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="CCC-tab" href="#CCC" role="tab" aria-controls="CCC" aria-selected="false">All questions</a>
    </li>
</ul>

{# End Sub-navbar : To answer & Asked #}

{# nav panes #}

<div class="tab-content">

    {# Questions listing: part A - Questions to answer #}

    <div class="tab-pane fade active show" id="AAA" role="tabpanel" aria-labelledby="AAA-tab" >

    {# sub-sub-header : To create & filter questions #}

    {# End sub-sub-header : To create & filter questions #}
        <div id="myDepartment" class="card-list" >    
        </div>  
    </div>
    

    {# End Part A #}
    {# Part B - Questions asked #}
    <div class="tab-pane fade" id="BBB" role="tabpanel" aria-labelledby="BBB-tab">
    {# sub-sub-header : To create & filter questions #}

        
        
        {# Questions listing: part B - Questions asked #}
    
        <div id="myQuestions" class="card-list">      

        </div>
    </div>

    {# End Part B #}
    <div class="tab-pane fade" id="CCC" role="tabpanel" aria-labelledby="CCC-tab">
    
    {# sub-sub-header : To create & filter questions #}
       
    
    {# End sub-sub-header : To create & filter questions #}

        {# Questions listing: part C - All questions asked  #}
        <div id="all" class="card-list">
        </div>
    </div>
        {# End Part C #}

</div>

{% endblock %}
