 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
            <div class="page-header">
                <h1>I need help <img alt="life_buoy" class="avatar avatar-lg" src="assets/img/lifebuoy.png" /></h1>
                <p class="lead">A small tool to help you find answers to your problem.</p>
                <div class="d-flex align-items-center">
                <!-- To do: Loop through a folder to display pictures of users-->
                    <ul class="avatars">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Claire Connors">
                                <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <!-- Sub-navbar : To answer & Asked-->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Questions" role="tab" aria-controls="Questions" aria-selected="true">Answer questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Ask questions</a>
                </li>
            </ul>
            <!-- End Sub-navbar : To answer & Asked-->
        

                        
                       