 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
            <div class="page-header">

                <h1>I need help <img alt="life_buoy" class="avatar avatar-lg" src="{{ asset('assets/img/lifebuoy.png') }}" /></h1>
                <p class="lead">Leverage your community to find answers.</p>

            </div>
            <hr>
        
    

            
            
                        
                       