 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
            <div class="page-header">
                <h1>I need help &#x2615;</h1>
                <p class="lead">A small tool to help you find answers to your problem.</p>
                <div class="d-flex align-items-center">
                <!-- To do: Loop through a folder to display pictures of users-->
                    <ul class="avatars">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Claire Connors">
                                <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <!-- Sub-navbar : To answer & Asked-->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Questions" role="tab" aria-controls="Questions" aria-selected="true">Answer questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Ask questions</a>
                </li>
            </ul>
            <!-- End Sub-navbar : To answer & Asked-->
            <!-- Link : To create a new question -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Questions" role="tabpanel" aria-labelledby="tasks-tab" data-filter-list="content-list-body">
                    <div class="content-list">
                        <div class="row content-list-head">
                            <div class="col-auto">
                                <h3>New Question</h3>
                                <button class="btn btn-round" data-toggle="modal" data-target="#Question-add-modal">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <!-- End Link : To create a new question -->
                            <!-- Form : To filter questions -->
                            <form class="col-md-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter Questions" aria-label="Filter Questions" aria-describedby="filter-Questions">
                                </div>
                            </form>
                            <!-- End Form : To filter questions -->
                        </div>
                        <!--end of content list head-->

                        
                       