 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
            <div class="page-header">
                <h1>I need help &#x2615;</h1>
                <p class="lead">A small tool to help you find answers to your problem.</p>
            </div>
            <hr>
            <!-- Sub-navbar : To answer & Asked-->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#answer" role="tab" aria-controls="answer" aria-selected="true">Answer questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#asked" role="tab" aria-controls="asked" aria-selected="false">Asked questions</a>
                </li>
            </ul>
            <!-- End Sub-navbar : To answer & Asked-->
        

                        
                       