<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified">
  				<li role="presentation" class="active"><a href="{{ path('homepage') }}">Home</a></li>
  				
		      	{% if is_granted('ROLE_ADMIN') %}
  					<li role="presentation"><a href="{{ path('task_list') }}">Admin</a></li>
  				{% endif %}
  			</ul>
	</div>
</footer>