<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified" style="text-align: center;">
  			<li role="presentation" class="active"><a id="goToTop" href="">Go to Top</a></li>
  		</ul>
	</div>
</footer>