
{% extends 'base.html.twig' %}

{% block title %}inh admin department details{% endblock %}

{% block body %}

<div class="layout layout-nav-side">
    <div class="main-container">

        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <div class="page-header">
                    <h1>I Need Help <img alt="life_buoy" class="avatar avatar-lg" src="{{ asset('assets/img/lifebuoy.png') }}" /></h1>
                    <p class="lead">Department details</p>
                </div>
            </div>
        </div>
    

        

    </div>
</div>

{% endblock %}