{% include 'base.html.twig' %}
{% for report in reports %}
    <p>{{ report.label }}</p>
    {% if report.question is defined %}
        <a href="{{ path("question", { question: report.getquestion().gettitle() }) }}"="question", { question: report.getQuestion().getTitle() }) }}"">{{ report.getQuestion().getTitle() }})</a>
        <p>by {{ report.getQuestion().getUser().getUsername() }}</p>
    {% endif %}
{% endfor %}