{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-container"></div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-lg-3 mb-3">
                    <ul class="nav nav-tabs flex-lg-column">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Your Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Password</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                                    <div class="media mb-4">
                                        <img alt="Image" src="{{ asset('uploads/picture/' ~ app.user.picture) }}" class="avatar avatar-lg"/>
                                        <div class="media-body ml-3">
                                            <div class="custom-file custom-file-naked d-block mb-1">
                                                {{ form(picture) }}
                                                <label class="custom-file-label position-relative" for="avatar-file">
                                                </label>
                                            </div>
                                            <small>add profile pic</small>
                                        </div>
                                    </div>
                                    {{ form(settings) }}
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="password" aria-labelledby="password-tab">
                                     {{ form(password) }}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
