{% include 'base.html.twig' %}

{% block body %}
    <div class="layout layout-nav-side">
        <div class="main-container"></div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-lg-3 mb-3">
                    <ul class="nav nav-tabs flex-lg-column">
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" href="{{ path("account_settings") }}"="account_settings") }}"" role="tab" aria-controls="password" aria-selected="false">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="password-tab" href="{{ path("passwordChange") }}"="passwordChange") }}"" role="tab" aria-controls="password" aria-selected="false">Password</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                                    <div class="media mb-4">
                                        <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar avatar-lg"/>
                                        <div class="media-body ml-3">
                                            <div class="custom-file custom-file-naked d-block mb-1">
                                                <input type="file" class="custom-file-input d-none" id="avatar-file">
                                                <label class="custom-file-label position-relative" for="avatar-file">
                                                    <span class="btn btn-primary">
                                                        Upload avatar
                                                    </span>
                                                </label>
                                            </div>
                                            <small>add profile pic</small>
                                        </div>
                                    </div>
                                    {{ form(settings) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
